{% extends 'base.html' %}

{% block title %}
Admin Registration
{% endblock %}

{% block content %}

<div class="auth-card">

    <span class="pill">
        ADMIN SETUP
    </span>

    <h1>
        Create admin account
    </h1>

    <p>
        Create the administrator account used to manage the system.
    </p>

    <form method="post"
          class="form-grid">

        <label>
            Admin Name
            <input type="text"
                   name="full_name"
                   required>
        </label>

        <label>
            Admin Email
            <input type="email"
                   name="email"
                   required>
        </label>

        <label>
            Password
            <input type="password"
                   name="password"
                   minlength="6"
                   required>
        </label>

        <label>
            Confirm Password
            <input type="password"
                   name="confirm_password"
                   minlength="6"
                   required>
        </label>

        <button class="btn"
                type="submit">
            Create Admin
        </button>

    </form>

</div>

{% endblock %}
